:root {
  --header-height: 3.25rem;
  --menu-width: 300px;
}

/* .app-body{

} */

nav.navbar {
  min-height: var(--header-height);
}
.app-body {
  min-height: calc(100vh - var(--header-height));
}
.app-menu {
  width: var(--menu-width);
  min-height: calc(100vh - var(--header-height));
  padding: 12px;
  background-color: #fafafa;
}

.app-playground {
  width: calc( 100vw - var(--menu-width) );
}